@font-face {
  font-family: 'La Nord Semi Light';
  src: url('../assets/fonts/LaNord-SemiLight.woff2') format('woff2'),
    url('../assets/fonts/LaNord-SemiLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panama Regular';
  src: url('../assets/fonts/Panama-Regular.woff2') format('woff2'),
    url('../assets/fonts/Panama-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
