<!DOCTYPE html>
<html lang="en" class="bg-gray">

  <head>
    {% include 'head.njk' %}
  </head>

  <body class="fix fill oh bg-gray serif f18 lh100 lsn2 o0">

    <div id="root">

      {% include 'header.njk' %}

      {{ content | safe }}

    </div>

    <script src="{% webpackAsset 'main.js' %}"></script>

  </body>
</html>