<!DOCTYPE html>
<html lang="en" class="bg-black">

  <head>
    {% include 'head.njk' %}
  </head>

  <body class="fix fill oh bg-gray serif f18 lh100 lsn2">

    <div id="root">

      {% include 'header.njk' %}

      {% include 'sidebar.njk' %}

      <main class="fix right fill-y w75 bg-gray pt-nav">
        <div class="rel x y" data-router-wrapper>
          {{ content | safe }}
        </div>
      </main>
      
      <div class="shield fix fill pen"></div>

    </div>


    <script src="{% webpackAsset 'main.js' %}"></script>

  </body>
</html>