.slideshow {
  &--sm {
    @media (query('s')) {
      width: 61%;
    }
  }

  &__slide {
    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__btn {
    outline: unset;
    width: calc(50% + 4.8rem);

    &--dec {
      left: -4.8rem;
      cursor: w-resize;

      &:hover {
        .slideshow__arrow {
          transform: translateX(-1rem);
        }
      }
    }

    &--inc {
      right: -4.8rem;
      cursor: e-resize;

      &:hover {
        .slideshow__arrow {
          transform: translateX(1rem);
        }
      }
    }
  }

  &__arrow {
    width: 3.4rem;
    transition: transform 0.3s $ease-out-quint;
  }

  &__progress-bar {
    transform-origin: left;
    transform: scaleX(0);
  }
}
