.tab {
  width: 5.5rem;
  height: 100vh;

  &__label {
    top: 16.5rem;
    transform-origin: top left;
    color: $black;
    display: flex;
    align-items: baseline;

    @media (query('l')) {
      padding-top: 1.2rem;
      transform: rotate(-90deg);
    }
  }

  &__dot {
    width: 0.59em;
    height: 0.59em;
    border: 1px solid $black;
    background-color: $black;
    border-radius: 50%;
    margin-right: 0.34em;
    transition: background-color 0.2s ease;

    @media (query('l')) {
      background-color: rgba($black, 0);
    }

    .tab:hover &,
    .fg1 & {
      background-color: $black;
    }
  }

  &__arrow {
    width: 1.4rem;
  }
}
