.tab {
  width: 5.5rem;
  height: 100vh;

  &__label {
    top: 16.5rem;
    padding: 1.2rem 0;
    transform-origin: top left;
    transform: rotate(-90deg);
    // mix-blend-mode: difference;
    color: $black;
    display: flex;
    align-items: baseline;
  }

  &__dot {
    width: 1.9rem;
    height: 1.9rem;
    border: 1px solid $black;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 1rem;
    transition: background-color 0.2s ease;

    .tab:hover &,
    .fg1 & {
      background-color: $black;
    }
  }

  &__arrow {
    width: 1.4rem;
  }
}
