.two-up {
  margin: 0 -1.2rem;

  &__col {
    padding: 0 1.2rem;

    &--image-text {
      &:nth-child(1) {
        @media (query('s')) {
          width: 61%;
        }
      }

      &:nth-child(2) {
        @media (query('s')) {
          width: 39%;
        }
      }
    }
  }
}
