<ul class="colophon">
  {% for item in module.items %}
    <li class="colophon__item mb20 l:mb30">
      <h2 class="f18 lh133 ttu mb10">{{ item.title }}</h2>
      <div class="f18 lh133">{% blocksToHtml item.body %}</div>
    </li>
  {% endfor %}
</ul>