<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# <title>Off Season</title> #}
<title>{{ site.seo.title }}</title>

{# Preconnect to Google Tag Manager #}
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>

{# Preload styles #}
<link rel="preload" href="{% webpackAsset 'style.css' %}" as="style">

{# Preload fonts #}
<link rel="preload" href="/Panama-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/LaNord-SemiLight.woff2" as="font" type="font/woff2" crossorigin>

{# Preload scripts #}
<link rel="preload" href="{% webpackAsset 'main.js' %}" as="script">

{# Global site tag (gtag.js) - Google Analytics #}
{# <script async src="https://www.googletagmanager.com/gtag/js?id=GTAG_ID_HERE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'GTAG_ID_HERE');
</script> #}

<meta name="description" content="{{ site.seo.description }}">
<meta name="keywords" content="{{ site.seo.keywords | join(', ') }}" />

{# Facebook Open Graph #}
<meta property="og:url" content="https://offseasoncreative.com">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.seo.title }}">
<meta property="og:description" content="{{ site.seo.description }}">
<meta property="og:site_name" content="{{ site.seo.title }}">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{ site.seo.image.url }}">
<meta property="og:image:secure_url" content="{{ site.seo.image.url }}">
<meta property="og:image:alt" content="{{ site.seo.image.altText }}">
<meta property="og:image:width" content="{{ site.seo.image.metadata.dimensions.width }}">
<meta property="og:image:height" content="{{ site.seo.image.metadata.dimensions.height }}">

{# Twitter Card #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ site.seo.url }}">
<meta name="twitter:title" content="{{ site.seo.title }}">
<meta name="twitter:description" content="{{ site.seo.description }}">
<meta name="twitter:image" content="{{ site.seo.image.url }}">
<meta name="twitter:image:alt" content="{{ site.seo.image.altText }}">

{# Favicons #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#f1f1f1">
<meta name="theme-color" content="#f1f1f1">

{# Link stylesheet #}
<link rel="stylesheet" href="{% webpackAsset 'style.css' %}">

{# If browser-sync stops reloading, try uncommenting the below #}
{# {% if env !== 'production' %}
  <script async="" src="/browser-sync/browser-sync-client.js?v=2.26.7"></script>
{% endif %} #}