<header class="fix top fill-x df jcc aic pt15 l:pt10 pb10 l:pb5 bb bg-gray z10">
  <a href="/" class="f24 ttu db l:dn" data-transition="tab">{{ site.mobileHeaderText }}</a>
  <a href="/" class="f32 ttu dn l:db" data-transition="tab">{{ site.headerText }}</a>
  <p class="clock f22 abs right pr15 dn l:db" data-component="clock"></p>
</header>