<div
  class="{% classNames 'lazyboy oh r', cx if cx else '' %}"
  {% if padding %}
    style="padding-bottom: {{ 1 / image.metadata.dimensions.aspectRatio * 100 }}%"
  {% endif %}
  data-component="lazyboy"
>
  <div class="lazyboy__lqip ro js-lqip" aria-hidden="true">
    <img class="x y o-cover" src="{% urlFor image, 32, 50 %}">
  </div>
  <div class="ro">
    <img
      class="lazyboy__img x y o-cover o0 js-img"
      srcset="{% urlFor image, width %},
              {% urlFor image, width * 2 %} 2x"
      data-src="{% urlFor image, width * 2 %}"
      alt="{{ image.altText }}"
    >
  </div>
</div>