<div
  class="{% classNames 'lazy oh r', cx if cx else '' %}"
  {% if padding %}
    style="padding-bottom: {{ 1 / image.metadata.dimensions.aspectRatio * 100 }}%"
  {% endif %}
  data-component="lazy"
>
  <div class="lazy__lqip ro js-lqip" aria-hidden="true">
    <img class="x y o-cover" src="{{ image.metadata.lqip }}">
  </div>
  <div class="ro">
    <img
      class="lazy__img x y o-cover o0 js-img"
      data-srcset="{% urlFor image, width %},
                   {% urlFor image, width * 2 %} 2x"
      data-src="{% urlFor image, width * 2 %}"
      alt="{{ image.altText }}"
    >
  </div>
</div>