<nav class="abs fill df z1 pen js-nav">
  {% for item in site.nav %}
    <div
      class="{% classNames
        'js-navItems',
        'fg1' if active == loop.index0
      %}"
    >
      <a
        class="{% classNames
          'tab db pea js-tabs',
          '' if loop.first else 'bl bg-gray'
        %}" 
        href="/{{ item.slug }}"
        data-transition="tab"
      >
        <div class="tab__label abs f32 lh100">
          <span class="tab__dot js-dots"></span>{{ item.title }}
        </div>
      </a>
    </div>
  {% endfor %}
</nav>