<nav class="abs fill df z1 pen js-nav">
  {% for item in site.nav %}
    <div
      class="{% classNames
        'js-navItems',
        'fg1' if active == loop.index0
      %}"
    >
      <a
        class="{% classNames
          'tab db pea js-tabs',
          '' if loop.first else 'bl',
          '' if active == loop.index0 else 'bg-gray'
        %}" 
        href="/{{ item.slug }}"
        data-transition="tab"
      >
        <div class="tab__label abs f32 lh100">
          {% if loop.first and isProject %}
            <span class="tab__arrow mr15">
              {% include 'arrowBack.njk' %}
            </span><span>Back</span>
          {% else %}
            <span class="tab__dot js-dots"></span><span>{{ item.title }}</span>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</nav>