<div class="fix fill bg-gray df jcc aic ph20 z10" data-component="password">
  <form
    class="signup__form x df max-w500 js-form"
    autocomplete="off"
  >
    <input
      class="signup__input x bb pv5"
      name="password"
      type="password"
      aria-label="Password"
      placeholder="Password"
      required
    >
    <div>
      <input name="hp" type="text" value="{% encode project.password %}" hidden>
    </div>
    <button class="signup__submit bb pv5 ph15" type="submit" aria-label="submit">
      <div class="signup__arrow rel">
        {% include 'arrowRight.njk' %}
      </div>
    </button>
  </form>
</div>