<div class="quote rel pv10 l:pv50 f22 l:f32 lh134 ml45 l:ml0">
  <div class="mb15">{{ module.quotation }}<span aria-hidden="true">”</span></div>
  <div>
    <span class="mr10">—</span>
    {% if module.url %}
      <a
        class="inline-link"
        href="{{ module.url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ module.attribution }}
      </a>
    {% else %}{{ module.attribution }}{% endif %}
  </div>
</div>