<div class="sidebar fix fill-y pt-nav br dn l:df fc">
  <div class="pt45 ph30 y bb">
    <p class="f22 lh127">
      {{ site.sidebarText }}
    </p>
  </div>
  <div class="r r--1x1">
    <div class="ro bg-gray pv50 ph35">
      {% include 'mark.njk' %}
    </div>

    {% for project in selectedProjects %}
      <div class="ro dn js-thumb" data-id="{{ project.slug }}">
        {% set width = 360 %}
        {% set cx = 'r--1x1' %}
        {% set padding = false %}
        {% set image = project.thumbnail %}
        {% include 'lazy.njk' %}
      </div>
    {% endfor %}
  </div>
</div>