<div class="fix fill-y w25 pt-nav br df fc">
  <div class="pt40 pl30 pr35 y bb">
    <p class="f22 lh127">
      {{ site.sidebarText }}
    </p>
  </div>
  <div class="r r--1x1">
    <div class="ro bg-gray pv50 ph35">
      {% include 'mark.njk' %}
    </div>

    {% for project in projects %}
      <div class="ro">
        <img
          data-id="{{ project.slug }}"
          class="x y o-cover js-thumb"
          style="opacity: 0; visibility: hidden;"
          src="{{ project.thumbnail.url }}"
          alt="{{ project.thumbnail.altText }}"
        />
      </div>
    {% endfor %}
  </div>
</div>