<div class="fix fill-y w25 pt-nav br df fc">
  <div class="pt40 pl30 pr35 y bb">
    <p class="f22 lh127">Off Season is a design and photo studio with a focus in music. Founded in New York City by Ross Nicol in 2018, Off Season takes a holistic and strategic approach in defining and developing an artist’s creative direction through design, photography and typography.</p>
  </div>
  <div data-component="marquee" data-speed="1" class="f22 lh127 i pt5 bb">
    <div class="nowrap pr5">
      NEW YORK • NASHVILLE • ESTABLISHED 2018 • 
    </div>
  </div>
  <div class="r r--1x1">
    <div class="ro bg-gray pv50 ph35">
      {% include 'mark.njk' %}
    </div>
  </div>
</div>