<div 
  class="{% classNames 
    'slideshow',
    'slideshow--sm' if module.isWidthSmall
  %}"
  data-component="slideshow"
>
  <div class="slideshow__slides rel">
    {% for image in module.images %}
      <div
        class="slideshow__slide js-slides"
        data-id="{{ image.assetId }}"
        {{ 'aria-hidden=true' if not loop.first }}
      >
        {% set width = 700 %}
        {% set cx = 'r--1x1' %}
        {% set padding = false %}
        {% include 'lazy.njk' %}
      </div>
    {% endfor %}
    <div class="abs fill z1">
      <button class="slideshow__btn slideshow__btn--dec abs fill-y df aic jcs js-dec" aria-label="Previous image">
        <div class="slideshow__arrow dn l:db">
          {% include 'arrowLeftShort.njk' %}
        </div>
      </button>
      <button class="slideshow__btn slideshow__btn--inc abs fill-y df aic jce js-inc" aria-label="Next image">
        <div class="slideshow__arrow dn l:db">
          {% include 'arrowRightShort.njk' %}
        </div>
      </button>
    </div>
  </div>
  <div class="slideshow__pagination df mt10 mhn5">
    {% for image in module.images %}
      <div class="x bg-muted mh5" style="height: 1px">
        <div class="slideshow__progress-bar x y bg-black js-progressBars"></div>
      </div>
    {% endfor %}
  </div>
  {% if module.caption %}
    <div class="slideshow__caption f18 lh133 mt25">
      {% blocksToHtml module.caption %}
    </div>
  {% endif %}
</div>