<div class="two-up s:df">
  <div class="two-up__col s:w50 mb20 s:mb0">
    {% set width = 335 %}
    {% set image = module.image1 %}
    {% set padding = true %}
    {% include 'lazy.njk' %}
  </div>
  <div class="two-up__col s:w50">
    {% set image = module.image2 %}
    {% set padding = true %}
    {% include 'lazy.njk' %}
  </div>
</div>
{% if module.caption %}
  <div class="mt20 f18 lh133">{% blocksToHtml module.caption %}</div>
{% endif %}