<div class="video mb150" data-component="videoModule">
  <div class="x r r--1x1">
    <div class="ro">
      <video
        class="x js-video"
        src="/geographer.mp4"
        preload="auto"
        muted
        loop
        playsinline
      ></video>
    </div>
  </div>
  <div class="df aic jcb mt20">
    <p>Lorem ipsum video caption</p>
    <button class="video__mute sans f14 ttu ls0 o70 df aic oh js-mute">
      <div class="video__mute__text rel mr10 js-muteText">
        <span>Unmute</span>
        <span class="video__mute__text--2 abs top right">Mute</span>
      </div>
      <div class="video__mute__wave js-waveWrap"></div>
    </button>
  </div>
</div>