---
layout: base.njk
title: Work
---
<div class="abs fill" data-router-view="default">
  
  {% set active = 1 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy pl{{ active * 55 }} js-scroll">
    <div class="x y bg-gray">
      <div class="pl115 pt35">
        <h1 class="sans f92 lh100">About</h1>
      </div>
    </div>
  </div>
</div>