---
layout: base.njk
title: Work
---
<div class="abs fill" data-router-view="default">
  
  {% set active = 3 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy bg-gray js-scroll">
    <div class="pl280 pt35">
      <h1 class="sans f92 lh100">Contact</h1>
    </div>
  </div>
</div>