---
layout: base.njk
title: Work
---
<div class="abs fill bg-gray" data-router-view="default">
  
  {% set active = 0 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy">
    <ul class="pl115 pr200 pt35">
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Geographer</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Teddy Geiger</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">James Calleo</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Maggie Rogers</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Adam Melchor</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Plastic Picnic</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Thutmose</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">The Tallest Man on Earth</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Arlie</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Whitney</a>
      </li>
      <li class="mb25">
        <a href="/project" class="sans f92 lh100" data-contextual="toDetail">Real Estate</a>
      </li>
    </ul>
  </div>
</div>