---
layout: base.njk
title: Work
---
<div class="abs fill wco" data-router-view="default">
  
  {% set active = 0 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy df fc jcb js-scroll">
    <ul class="pl115 pr200 pt20 mb100">
      {% for project in projects %}
        <li class="oh">
          <style>
            #{{ project.slug }}:hover,
            #{{ project.slug }}:focus {
              color: {{ project.themeColor }};
            }
          </style>
          <a
            id="{{ project.slug }}"
            class="dib sans f92 lh102 pv15 js-links"
            href="/project/{{ project.slug }}/"
            data-transition="toProject"
            data-component="projectLink"
          >
            {{ project.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% include 'footer.njk' %}
  </div>
</div>