---
layout: baseSidebar.njk
permalink: /{{ p.slug }}/
pagination:
  alias: p
  data: site.pages
  size: 1
renderData:
  title: "{{ p.title }}"
---
<div class="abs fill" data-router-view="default">
  
  {% set active = pagination.pageNumber + 1 %}
  {% set total = pagination.pages | length %}
  {% set diff = total - active %}

  
  {% include 'nav.njk' %}

  <div class="abs fill oy js-scroll">
    <div class="x min-vh100 p-tabs__l--{{ active }} p-tabs__r--{{ diff }}">
      <div class="pt30 l:pt45 bg-gray wcto js-inner">
        
        <div class="db l:dn">
          <h1 class="tab__label f24 lh100 ph20 mb40">
            <span class="tab__dot"></span>{{ p.title }}<span></span>
          </h1>
        </div>

        {% set modules = p.contentModules %}
        {% include 'contentModules.njk' %}
      </div>
    </div>
    {% include 'footer.njk' %}
  </div>
</div>