---
layout: base.njk
permalink: /project/{{ project.slug }}/
pagination:
  alias: project
  data: projects
  size: 1
renderData:
  title: "{{ project.title }}"
---
<div class="abs fill" data-router-view="default">

  {% set active = 0 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy js-scroll">
    <div class="pl115 pr165 pt30">
      <h1 class="sans f92 lh102 wct pt15 mb35 js-title" style="color: {{ project.themeColor }}">{{ project.title }}</h1>
      <div class="pr115 wcto js-content">
        <div class="f24 lh125 mb50">
          <p>Design direction for everything around Clairo's 2019 album release Immunity. We created a system that was used on: packaging, merchandise and tour promotion.</p>
        </div>
        <div class="df lh133 mb80">
          <div class="w50">
            <div class="mb30">
              <h3 class="ttu mb10">Our Role</h3>
              <p>Art Direction, Design</p>
            </div>
            <div class="mb30">
              <h3 class="ttu mb10">Management</h3>
              <p>Spark Management</p>
            </div>
          </div>
          <div class="w50">
            <div class="mb30">
              <h3 class="ttu mb10">Team</h3>
              <p>Creative Direction by Lincoln Lute, Additional Art Direction by Emile Panerio, Photo by Bronson Snelling and Jake Hanson, Video by Hunter Airheart</p>
            </div>
          </div>
        </div>
        <div class="modules">
          <div class="mhn115 mb150">
            <div class="x r r--1x1" style="background-color: #ddd">
              <div class="ro"></div>
            </div>
          </div>
          <div class="video mb150" data-component="videoModule">
            <div class="x r r--1x1">
              <div class="ro">
                <video
                  class="x js-video"
                  src="/geographer.mp4"
                  preload="auto"
                  muted
                  loop
                  playsinline
                ></video>
              </div>
            </div>
            <div class="df aic jcb mt20">
              <p>Lorem ipsum video caption</p>
              <button class="video__mute sans f14 ttu ls0 o70 df aic oh js-mute">
                <div class="video__mute__text rel mr10 js-muteText">
                  <span>Unmute</span>
                  <span class="video__mute__text--2 abs top right">Mute</span>
                </div>
                <div class="video__mute__wave js-waveWrap"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>