---
layout: base.njk
title: Project
---
<div class="abs fill bg-gray" data-router-view="default">

  {% set active = 0 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy">
    <div class="pl115 pr200 pt35">
      <h1 class="sans f92 lh100 js-projectTitle">Project</h1>
    </div>
  </div>
</div>