---
layout: baseSidebar.njk
permalink: /project/{{ project.slug }}/
pagination:
  alias: project
  data: projects
  size: 1
renderData:
  title: "{{ project.title }}"
---
<div class="abs fill" data-router-view="default">

  {% if project.password | length %}
    {% include 'password.njk' %}
  {% endif %}

  {% set active = 0 %}
  {% set total = site.pages | length %}
  {% set diff = total - active %}
  {% set isProject = true %}
  
  {% include 'nav.njk' %}

  <div class="abs fill oy js-scroll">
    <div class="x min-vh100 p-tabs__l--{{ active }} p-tabs__r--{{ diff }}">
      <div class="pt30 wcto js-inner">
        <div class="db l:dn">
          <a href="/" class="tab__label f24 lh100 ph20 mb15 df aic">
            <span class="mr10" style="width: 2.2rem;">{% include 'arrowBackMobile.njk' %}</span>Back<span></span>
          </a>
        </div>
        <h1
          class="sans f40 l:f92 lh110 l:lh102 wct pt10 l:pt15 mb25 l:mb35 ph20 l:ph115 js-title"
          style="color: {{ project.themeColor }}"
        >
          {{ project.title }}
        </h1>
        <div class="wcto js-content">
          <div class="ph20 l:ph115">
            {% if project.introText.content %}
              <div class="f20 l:f24 lh130 l:lh125 mb40 l:mb50">
                {% blocksToHtml project.introText.content %}
              </div>
            {% endif %}
            <ul class="colophon pb40">
              {% if project.roles %}
                <li class="colophon__item mb20 l:mb30">
                  <h3 class="f18 lh133 ttu mb10">Our Role</h3>
                  <div class="f18 lh133">
                    {% set comma = joiner() %}
                    {% for role in project.roles -%}
                      {{ comma() }} {{ role }}
                    {%- endfor %}
                  </div>
                </li>
              {% endif %}
              {% if project.management.content %}
                <li class="colophon__item mb20 l:mb30">
                  <h3 class="f18 lh133 ttu mb10">Management</h3>
                  <div class="f18 lh133">
                    {% blocksToHtml project.management.content %}
                  </div>
                </li>
              {% endif %}
              {% if project.year %}
                <li class="colophon__item mb20 l:mb30">
                  <h3 class="f18 lh133 ttu mb10">Year</h3>
                  <div class="f18 lh133">{{ project.year }}</div>
                </li>
              {% endif %}
              {% if project.team.content %}
                <li class="colophon__item mb20 l:mb30">
                  <h3 class="f18 lh133 ttu mb10">Team</h3>
                  <div class="f18 lh133">
                    {% blocksToHtml project.team.content %}
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="modules">
            {% set modules = project.contentModules %}
            {% include 'contentModules.njk' %}
          </div>

          {% set nextProjectSlug %}{% nextProjectSlug project.slug, selectedProjects %}{% endset %}
          {% set nextProjectTitle %}{% nextProjectTitle project.slug, selectedProjects %}{% endset %}
          {% set nextProjectColor %}{% nextProjectColor project.slug, selectedProjects %}{% endset %}

          {% if nextProjectSlug | length %}
            <style>
              #pagi-{{ nextProjectSlug }}:hover .pagi-title,
              #pagi-{{ nextProjectSlug }}:focus .pagi-title {
                color: {{ nextProjectColor }};
              }
            </style>
            <a
              id="pagi-{{ nextProjectSlug }}"
              class="db pt30 l:pt40 pb100 l:pb180 ph20 l:ph115"
              href="/project/{{ nextProjectSlug }}"
              data-transition="toProject"
            >
              <div class="f18 lh133 ttu df aic mb30 l:mb50">
                Next project
                <div class="signup__arrow ml20">
                  {% include 'arrowPagi.njk' %}
                </div>
              </div>
              <div class="pagi-title sans f40 l:f92 lh110 l:lh102 wct pt10 l:pt15" data-title>
                {{ nextProjectTitle }}
              </div>
            </a>
          {% endif %}

        </div>
      </div>
    </div>
    {% include 'footer.njk' %}
  </div>
</div>