---
layout: base.njk
title: Work
---
<div class="abs fill bg-gray" data-router-view="default">
  
  {% set active = 2 %}
  {% include 'nav.njk' %}

  <div class="abs fill oy">
    <div class="pl225 pt35">
      <h1 class="sans f92 lh100">Studio</h1>
    </div>
  </div>
</div>